.content {
  border-bottom: 1px solid rgb(229, 231, 235);
  background-color: #f3f4f6;

  :global(.dark) & {
    border-bottom: 1px solid rgb(38, 38, 38);
    background-color: #090b14;
  }
}

.preview {
  margin: 0 auto;
  margin-bottom: -100px;
  display: block;
  position: relative;
  z-index: 2;
  top: -100px;
  max-width: 848px;

  img {
    display: block;
    width: 100%;
    box-sizing: border-box;
    max-width: 848px;
  }
}
