.root {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 40px;
  height: 40px;
}

.title {
  font-size: 16px;
  letter-spacing: -0.6px;
  margin-left: 12px;
  font-family: 'Silkscreen', sans-serif;
}
